<%- include('partial/header'); -%>


    <div class="container">
        <div class="smoothie-image-container">
           <img class="smoothie-image" src="smoothie.png" alt="Smoothie image">
        </div>

        <div class="details">
            <div class="tagline">
                <h2>Smoothie Recipes</h2>
                <h3>By Ninjas For Ninjas</h3>           
            </div>
           
            <a href="/smoothies" class="view-detail-btn">View Recipes</a>
           
        </div>
    </div>

    <%- include('partial/footer'); -%>
    
    