<%- include('partial/header'); -%>

<ul class="recipes">

    <li class="recipe">
        <img src="smoothie.png" alt="smoothie image" class="smoothie-image">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream, Milk</p>
    </li>

    <li class="recipe">
        <img src="smoothie.png" alt="smoothie image" class="smoothie-image">
        <h4>Tropical Twist</h4>
        <p>Peach, Pineapple, Apple juice</p>
    </li>

    <li class="recipe">
        <img src="smoothie.png" alt="smoothie image" class="smoothie-image">
        <h4>Protein packer</h4>
        <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
    </li>

    <li class="recipe">
        <img src="smoothie.png" alt="smoothie image" class="smoothie-image">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream, Milk</p>
    </li>

    <li class="recipe">
        <img src="smoothie.png" alt="smoothie image" class="smoothie-image">
        <h4>Tropical Twist</h4>
        <p>Peach, Pineapple, Apple juice</p>
    </li>

    <li class="recipe">
        <img src="smoothie.png" alt="smoothie image" class="smoothie-image">
        <h4>Protein packer</h4>
        <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
    </li>
</ul>

<%- include('partial/footer'); -%>